[user]
	email = github@julianbelz.com
	name = jlnb
[credential "https://github.com/jlnb"]
	provider = github
[credential]
	helper = 
	helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
